body {
    margin: 0;
    padding: 0;
}

.logo {
    width: 5rem;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #dedede;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    border-bottom: 2px solid black;
    /* transform: scaleX(5); */
}

nav ul li:hover {
    transform: scale(1.5);
}